body {
  text-align: center;
}

.message-list {
  background-color: #42b3f4;
  padding: 20px;
}

h1 {
  color: #FFB03B;
}

.message {
  color: #468966;
  margin: 10px;
  padding: 15px;
  border: 2px solid #FFB03B;
  border-radius: 5px;

}
.time {
  color: #adebad;
  margin: auto;
  padding: inherit;

}
.navbar {

border: 2px solid #42f4eb;
    color: pink;
      background-color: #42b3f4;
        padding: 20px;
        margin: 15px;



}
 a {
  text-decoration: none;
  margin: 10px;
    color: pink;



}
