body {
  text-align: center;
}

.message-list {
  background-color: #8056BA;
  padding: 20px;
}

h1 {
  color: #FFB03B;
}

.message {
  color: #000000;
  margin: 10px;
  padding: 15px;
  border: 2px solid #2B1E28;
  border-radius: 5px;

}
.time {
  color: #adebad;
  margin: auto;
  padding: inherit;

}
.navbar {

border: 2px solid #0A1B1B;
    color: #282D7F;
      background-color: #700B32;
        padding: 20px;
        margin: 15px;
      }
      img {
        width:500px;
      }




}
 a {
  text-decoration: none;
  margin: 10px;
    color: pink;



}
